# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from gmap_keys import gmap_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
city_data_csv_path = "city_data"

NameError: name 'city_data_csv' is not defined

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
csv_path = os.path.join("city_data.csv")
city_data_df = pd.read_csv(csv_path)
city_data_df.head()

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Clouds,Wind,Country,Date
0,0,ushuaia,-54.80,-68.30,33.80,80,75,14.99,AR,1601477472
1,1,kapaa,22.08,-159.32,71.60,78,1,9.17,US,1601477473
2,2,fredericksburg,38.30,-77.46,64.99,68,1,8.05,US,1601477385
3,3,guaymas,27.93,-110.90,80.60,83,5,3.31,MX,1601477473
4,4,qaanaaq,77.48,-69.36,13.96,80,0,6.91,GL,1601477474

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
new_cities_df = pd.DataFrame(city_data_df, columns = ["City", "Temperature", "Humidity", "Clouds"])
temperature = (new_cities_df["Temperature"] <= 95) & (new_cities_df["Temperature"] > 60)
humidity = (new_cities_df["Humidity"] <= 95) & (new_cities_df["Humidity"] > 75)
clouds = new_cities_df["Clouds"] == 0

new_cities_df[temperature & humidity & clouds]

             City  Temperature  Humidity  Clouds
45         shaowu        66.43        87       0
160     carnarvon        68.00        88       0
295       balabac        82.11        77       0
388  port hedland        71.60        78       0
463           gat        86.00        80       0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure